@import "../node_modules/bootstrap/scss/bootstrap.scss"
@import "../dist/style.css"

.ecriture
    h1
        font-family: 'Courgette', cursive

.section
    background: url("../git_bootstrap_les_chefs/images/bottom_decoration_img.png") repeat-x bottom, linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../git_bootstrap_les_chefs/images/banner1.jpg')
    height: 800px

.bordernav
    border-color: blue


.bordures
    border-top: solid #fff 1px
    border-bottom: solid #fff 1px

.section2
    background: url("../git_bootstrap_les_chefs/images/main_bg.jpg")
    height: 1450px
    h1
        font-family: 'Courgette', cursive

.triangle2
    margin-left: 895px

.espace
    margin-top: -35px

.top
    margin-top: 25px

        
.left
    margin-left: 45px

.points
    padding-top: 140px

.coffee
    font-size: 60px
    color: #c7c2c2

.coffee2 
    font-size: 55px
    color: #ab2f2f

.list-group>h4
    font-family: 'Courgette', cursive


.img
    border: solid #e6e6e6 5px
    width: 100px
.img2
    border: solid #e6e6e6 5px
    width: 145px

.textgris
    color: #646567
    font-size: 14px
    line-height: 20px

.prix
    color: #941515
    background-color: #e8e8e8

.lignegrise
    border-bottom: solid 1px #c7c2c2
    margin-bottom: 17px

.lignegrise2
    border-bottom: solid 1px #c7c2c2

.BreakFast
    border-right: solid 5px
    border-right-color: #bf203a

.vide
    padding-top: 160px

.section4
    background: url("../git_bootstrap_les_chefs/images/team_background.jpg")
    height: 715px


.section4
    span
        font-family: 'Courgette', cursive
        color: #dc3545
    h1
        margin-top: 60px
        padding-top: 85px

.borderchef
    border-bottom: solid 1px #ffffff8a

.br6
    padding-top: 35px

.espacementchef
    margin-left: 60px
    margin-right: 60px

.br7
    margin-bottom: 80px

.section5
    background-image: url(../git_bootstrap_les_chefs/images/main_bg.jpg)
    height: 1540px
    padding-top: 40px
    h1 
        margin-top: 40px


.left2
    padding-left: 65px

.bgformulaire
    background-image: url(../git_bootstrap_les_chefs/images/book_table_bg.jpg)
    height: 500px
    
.arrondi
    border-radius: 15px

.tel
    font-size: 25px

.test
    border-radius: 10px
    font-size: 13px

.bordureimgblog
    border: solid #e6e6e6 5px
    width: 400px

.stick
    margin-right: 31px
    margin-left: 159px
    background-color: #dc3545 !important
    margin-top: -35px
    
.stickp
    margin-bottom: 0
    
.lorem
    text-align: left
    margin-left: 160px
    margin-right: 12px
    margin-bottom: 0
    margin-top: 10px

.lorem2
    text-align: left
    margin-left: 34px
    margin-bottom: 0
    margin-top: 10px
    margin-right: 125px

.taillechiffre
    font-size: 25px

.policelorem
    font-size: 14px
    color: #696767

.stick2
    margin-right: 163px
    margin-left: 33px
    background-color: #dc3545 !important
    margin-top: -35px

.section6
    background-image: url(../git_bootstrap_les_chefs/images/testimonials_background.jpg)
    height: 400px

.bordurelorem
    border: solid #e6e6e6 1px